@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button hx-post="/" hx-swap="outerHTML" hx-target="closest" hx-trigger="click" hx-confirm="Are you sure"> Button moment </button>
    <p>Learn about building Web apps with ASP.NET .</p>
</div>