<!DOCTYPE html>
<html lang="en">
<head>
    <title>DotFed</title>
    <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/4047d6e26b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@unocss/runtime"></script>
    </head>

<body>
    
    <nav class="bg-transparent w-full p-4 sticky top-0 shadow-lg backdrop-filter backdrop-blur-lg">
        <div class="container mx-auto flex justify-between items-center">
            <a href="#" class="font-bold text-2xl text-gray-900 hover:text-gray-600 transition-colors">DotFed</a>
            <div class="flex items-center space-x-6">
                <ul class="flex space-x-6">
                    <li><a href="#" class="text-gray-800 font-medium hover:text-gray-600 transition-colors">Home</a></li>
                    <li><a href="#" class="text-gray-800 font-medium hover:text-gray-600 transition-colors">About</a></li>
                    <li><a href="#" class="text-gray-800 font-medium hover:text-gray-600 transition-colors">Contact</a></li>
                </ul>
                <div>
                    <input type="text" class="px-4 py-2 rounded-lg text-gray-800" placeholder="Search">
                </div>
            </div>
        </div>
    </nav>

    
    
@for (int i = 1; i <= 10; i++)
        {
          if (i == 10)
          {
            DotFed.Slices.IndexModel.count++;
            <div
              hx-post="/?page=@DotFed.Slices.IndexModel.count"
              hx-trigger="revealed"
              hx-swap="afterend"
              
            
            
            
              >
              Post @i : Page @DotFed.Slices.IndexModel.count
            </div>
          }
          else
          {
            <div>Post @i</div>
          }
        }
    
    
</body>
</html>