<!DOCTYPE html>
<html lang="en">
<head>
    <title>DotFed</title>
    <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/4047d6e26b.js" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://dotfed.com">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>
    
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
    
  <div class="navbar-menu">
    <div class="navbar-start">
      
    
      <a class="navbar-item" href="https://dotfed.com/communities">
        Communities
      </a>
    
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>
    
        <div class="navbar-dropdown">
          <a class="navbar-item" href="http://dotfed.com/about">
            About
          </a>
          <a class="navbar-item" href="https://github.com/AddisonRogers/DotFed">
            Github
          </a>
          <a class="navbar-item" href="https://github.com/AddisonRogers">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="https://github.com/AddisonRogers/DotFed/issues">
            Report an issue
          </a>
        </div>
      </div>
    </div>
    
    <div class="navbar-end">
      
      <div class="navbar-item">
        <input id="search-input" class="input is-normal" type="text" placeholder="Search...">
      </div>
      
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="columns" id="mainPageColumns">
  <div class="column"> 
    
    @for (int i = 1; i <= 10; i++)
        {
          if (i == 10)
          {
            DotFed.Slices.IndexModel.count++;
            <div
              hx-post="/?page=@DotFed.Slices.IndexModel.count"
              hx-trigger="revealed"
              hx-swap="afterend">
              @i
            </div>
          }
          else
          {
            <text>@i</text>
          }
        }
    
    
  </div>
  </div>
</body>
</html>